jupyter-book
matplotlib
numpy
pandas
folium
seaborn
git+https://git@github.com/pvlib/pvlib-python@master#egg=pvlib
lxml
# Solar Power Modeling
NREL-PySAM
pip:
git+https://git@github.com/AdamRJensen/tree/pvlib-python@era5#egg=pvlib_era5
